<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FTP_HOSTNAME" value="f6-preview.agilityhoster.com"/>
    <add key="FTP_USERNAME" value="891735"/>
    <add key="FTP_PASSWORD" value="prst4211"/>
    <add key="FTP_UPDATE_DIR" value="/presata.cz.cc/news_update"/>
    <add key="PAGE_URL_UPDATE" value="http://192.168.56.128/www/presata/news_update/"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
